<article class="app">
  <h1>Photo Editing Demo</h1>
  <section class="app__image-container">
    <ng-container *ngIf="animationStyle === 'rtl'">
      <!-- <img [src]="fileUrl" *ngIf="fileUrl" /> -->
      <div [@rtl]="animationStyle">
        <app-image-resizer
          [clickUrl]="clickUrl"
          [imgEvent]="imageEvent"
        ></app-image-resizer>
      </div>
    </ng-container>
    <ng-container *ngIf="animationStyle === 'ltr'">
      <div [@ltr]="animationStyle">
        <app-image-resizer
          [clickUrl]="clickUrl"
          [imgEvent]="imageEvent"
          [@ltr]="fileUrl"
        ></app-image-resizer>
      </div>
    </ng-container>
  </section>

  <form [formGroup]="inputForm" (ngSubmit)="onSubmit()" class="app__form">
    <div class="form-group">
      <label>Chose File</label>

      <app-file-upload
        class="form-control"
        (fileChanged)="onFileChanged($event)"
        formControlName="fileUrl"
      ></app-file-upload>
    </div>
    <div class="form-group">
      <label>Click Url</label>
      <input class="form-control" type="text" formControlName="clickUrl" />
    </div>
    <div class="form-group">
      <label>Animation (rtl - Right to Left, ltf - Left to Right)</label>
      <app-drop-down
        title="Animation"
        [animation]="['ltr', 'rtl']"
        formControlName="animation"
        (onUpdate)="onDropdownChange($event)"
      ></app-drop-down>
    </div>
    <button type="submit" class="btn" [disabled]="inputForm.invalid">
      Submit
    </button>
  </form>
</article>
